absl-py==0.2.2
astor==0.6.2
beautifulsoup4==4.6.3
bleach==1.5.0
bs4==0.0.1
Click==7.0
Cython==0.29.3
decorator==4.0.11
docopt==0.6.2
docutils==0.14
ffmpeg==1.4
ffmpeg-normalize==0.5.1
Flask==1.0.2
Flask-WTF==0.14.2
gast==0.2.0
gitdb2==2.0.5
GitPython==2.1.11
grpcio==1.12.1
gunicorn==19.9.0
html5lib==0.9999999
imageio==2.1.2
InstagramAPI==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
Kivy==1.10.1
Kivy-examples==1.10.1
Kivy-Garden==0.1.4
kivy.deps.angle==0.1.7
kivy.deps.glew==0.1.10
kivy.deps.gstreamer==0.1.13
kivy.deps.sdl2==0.1.18
Markdown==2.6.11
MarkupSafe==1.1.0
moviepy==0.2.3.2
numpy==1.14.5
Pillow==5.2.0
protobuf==3.6.0
Pygments==2.3.1
pypiwin32==223
pywin32==224
requests==2.11.1
requests-toolbelt==0.7.0
six==1.11.0
smmap2==2.0.5
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
tqdm==4.11.2
Werkzeug==0.14.1
WTForms==2.2.1
